.wrapper {
  display: flex;
}

.linkGit {
  width: 2rem;
  height: 2rem;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.linkGit {
  padding-inline: 5px;
}

.linkGit i {
  transition: 0.4s all;
  color: black;
}

.linkGit:hover i {
  transform: scale(1.4);
  color: blue;
}

.d-flex {
  align-items: center;
}

.d-flex span {
  font-size: 30px;
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: black;
}

.d-flex span:hover {
  color: blue;
}
